---
layout: default
---

<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-8 order-2 order-md-1 text-center text-md-center mx-auto">
				<h1 class="text-white font-weight-bold mb-4">{{ site.data.intro.tagline }}</h1>
				<p class="text-white mb-5">{{ site.data.intro.description }}</p>
				<a href="#" class="btn btn-main">{{ site.data.intro.cta }}</a>
			</div>
		</div>
	</div>
</section>

<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				{% for feature in site.data.intro.features %}
					<div class="col-md-3 mb-4 mb-md-0 text-center">
						<img src="{{ feature.icon | prepend: site.baseurl }}"/>
						<h5 class="mt-4 text-capitalize h5">{{ feature.title }}</h5>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>


<section  id="process" class="container my-5">
	<h2 class="text-center">{{ site.data.process.title }}</h2>
	<p class="text-center">{{ site.data.process.description }}</p>
	{% for step in site.data.process.steps %}
	<div class="step-container row justify-content-center my-3 {% if step.reverse %} flex-row-reverse {% endif %}">
		<div class="col-md-4 mx-5 p-5 d-flex"  data-aos="{% if step.reverse %}fade-left{% else %}fade-right{% endif %}">
			<div class="step-marker my-auto d-flex flex-grow-1 align-items-center shadow">
				<span class="step-number p-3 text-white">0{{ step.number }}</span>
				<div class="step-icon-container d-inline-flex flex-grow-1 align-items-center">
					<img class="step-icon mx-auto" src="{{ step.icon | prepend: site.baseurl }}"/>
				</div>
			</div>
		</div>
		<div class="step-content mx-5 p-5 col-md-4 text-left">
			<h3 class="step-title">{{ step.title }}</h3>
			<p class="step-description">{{ step.description }}</p>
		</div>
	</div>
	{% endfor %}
</section>


<section id="benefits" class="py-5 bg-white">
	<div class="container">
		{% for benefit in site.data.benefits %}
		<div class="row align-items-center py-5 {% if benefit.reverse %} flex-row-reverse {% endif %}">
			<div class="col-md-6 text-center" data-aos="{% if benefit.reverse %}fade-left{% else %}fade-right{% endif %}">
				<img class="image-fluid" src="{{ benefit.image | prepend: site.baseurl }}"/>
			</div>
			<div class="col-md-6">
				<h2 class="py-3">{{ benefit.header }}</h2>
				{% for pointer in benefit.pointers %}
				<p class="py-1">{{ pointer.text }}</p>
				{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</section>


<section id="contact" class="position-relative py-5 bg-white">
	<div class="contact-content container d-flex p-0">
		<h2 class="col-md-7 my-auto">
			{{ site.data.contact.tagline }}
		</h2>
		<div class="contact-form-container col-md-5 mt-5 bg-light shadow">
			<form class="contact-form">
				<h3 class="bold-font">{{ site.data.contact.title }}</h3>
				<p>{{ site.data.contact.description }}</p>
				{% for field in site.data.contact.fields %}
					{% if field.type == "text" or field.type == "email" or field.type == "tel" %}
						<input type="{{ field.type }}" class="form-control my-3" name="{{ field.name }}" placeholder="{{ field.label }}" aria-label="{{ field.label }}" required/>
					{% elsif field.type == "select" %}
						<select class="form-control my-3" name="{{ field.name }}" aria-label="{{ field.label }}" required>
							<option selected disabled value="">{{ field.label }}</option>
							{% for option in field.options %}
								<option value="{{ option.value }}">{{ option.text }}</option>
							{% endfor %}
						</select>
					{% endif %}
				{% endfor %}
				<button class="btn btn-primary my-2" type="submit">{{ site.data.contact.submit }}</button>
			</form>
			<div class="contact-message d-none">
				<h3 class="text-center bold">{{ site.data.contact.success-header }}</h3>
				<p>{{ site.data.contact.success-message }}</p>
			</div>
		</div>
	</div>
	<div class="contact-background"></div>
</section>