<footer class="bg-white">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-3 col-md-12 text-center">
          <a href="index.html"><img src="images/logo.png" alt="footer-logo"></a>
          <!-- Social Site Icons -->
          <ul class="social-icon list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/themefisher"><i class="ti-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/themefisher"><i class="ti-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/themefisher/"><i class="ti-instagram"></i></a>
            </li>
          </ul>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <ul style="list-style: none;">
            <li><a href="{{ '/#process' | prepend: site.baseurl }}">How it Works</a></li>
            <li><a href="{{ '/#benefits' | prepend: site.baseurl }}">Benefits</a></li>
            <li><a href="{{ '/#contact' | prepend: site.baseurl }}">Get in Touch</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="text-center bg-light py-2">
    <small>&copy; 2020 <a href="{{ '/' | prepend: site.baseurl }}">Prokurex</a></small>
  </div>
</footer>