<footer class="bg-white">
  <div class="container py-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-2 col-md-3 text-center">
          <a href="{{ '/' | prepend: site.baseurl }}"><img class="my-3" src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="Prokurex Logo"></a>
          
          <ul class="list-inline">
            <li class="list-inline-item mx-2">
              <a href="https://www.facebook.com/prokurex"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="https://twitter.com/themefisher"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item mx-2">
              <a href="https://www.instagram.com/themefisher/"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
      </div>
      <div class="col-lg-2 col-md-3 d-flex justify-content-center">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="{{ '/#process' | prepend: site.baseurl }}">How it Works</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/#benefits' | prepend: site.baseurl }}">Benefits</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center bg-light py-2">
    <small>&copy; 2020 <a href="{{ '/' | prepend: site.baseurl }}">Prokurex</a></small>
  </div>
</footer>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init(); defer</script>