<nav class="navbar main-nav navbar-expand-lg p-0">
  <div class="container">
    <a class="navbar-brand" href="index.html">Porkurex</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="ti-menu"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown active dropdown-slide">
          <a class="nav-link" href="#" data-toggle="dropdown">Home
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <div class="dropdown-menu">
            <a class="dropdown-item" href="index.html">Homepage</a>
            <a class="dropdown-item" href="homepage-2.html">Homepage 2</a>
            <a class="dropdown-item" href="homepage-3.html">Homepage 3</a>
          </div>
        </li>
        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link" href="#" data-toggle="dropdown">Pages
            <span><i class="ti-angle-down"></i></span>
          </a>
          <!-- Dropdown list -->
          <div class="dropdown-menu">
            <a class="dropdown-item" href="team.html">Team</a>
            <a class="dropdown-item" href="career.html">Career</a>
            <a class="dropdown-item" href="blog.html">Blog</a>
            <a class="dropdown-item" href="blog-single.html">Blog Single</a>
            <a class="dropdown-item" href="privacy-policy.html">Privacy</a>
            <a class="dropdown-item" href="FAQ.html">FAQ</a>
            <a class="dropdown-item" href="sign-in.html">Sign In</a>
            <a class="dropdown-item" href="sign-up.html">Sign Up</a>
            <a class="dropdown-item" href="404.html">404</a>
            <a class="dropdown-item" href="comming-soon.html">Coming Soon</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>