<header>
  <nav class="navbar navbar-expand-lg p-2">
    <div class="container">

      <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
        <img src="{{ '/images/logo-light.png' | prepend: site.baseurl }}"/>
      </a>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="{{ '/#benefits' | prepend: site.baseurl }}">Benefits</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ '/#process' | prepend: site.baseurl }}">How it Works</a></li>
        </ul>
      </div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
</header>